{% include "modules/head.html" %}
{% include "modules/navbar.html" %}

<body>
<div class="bloc_img">
    <div class="error">
        <h1 style="font-size: 15.5rem;">404</h1>
        <p>Ah, une erreur. Je ne sais pas où vous essayez d'aller, mais ça n'existe pas, voilà.</p>
    </div>
</div>

</body>

</html>
