{% include "modules/head.html" %}
{% include "modules/navbar.html" %}

<body>

<div class="bloc_img">
    <div class="error">
        <h1 style="font-size: 15.5rem;">500</h1>
        <p>Vous... vous avez cassé quelque chose, non ?</p>
    </div>
</div>

</body>

</html>