{% include "modules/head.html" %}
{% include "modules/navbar.html" %}


<body>


<div class="bloc">
    <legend>Chargement de devis</legend>
    <p>Les tables ont été chargées!</p>
</div>

</body>

</html>