<!doctype html>
{% include "modules/head.html" %}
{% include "modules/navbar.html" %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="bloc">


<a class="name" href="/estimation_perso">Estimer un devis personnalisé <br><br></a>
<a class="name" href="/kmean_formulaire">Estimer un devis général</a>
</div>
</body>

</html>