{% include "modules/head.html" %}
{% include "modules/navbar.html" %}


<body>


<div class="bloc">
    <legend>Génération aléatoire des devis</legend>
    <p>Merci de rentrer les informations nécessaires:</p>
    <form action="/generation_aleatoire" method="post">
					<label>Nombre de devis à générer?</label> : <input type="text" name="ndevis" />
					<input type="submit" value="Envoyer" />
			</form>
</div>

</body>

</html>