{% include "modules/head.html" %}
{% include "modules/navbar.html" %}


<body>


<div class="bloc">
    <legend>Génération aléatoire des devis</legend>
    <p>Les devis ont été générés!</p>
</div>

</body>

</html>