{% include "modules/head.html" %}
{% include "modules/navbar.html" %}


<body>
<div class="bloc_petit">

    <h1>Graphique</h1>
    <img src="static/imgs/Graphique.png" width="640px" alt="graphique" />
</div>

</body>

</html>