{% include "modules/head.html" %}
{% include "modules/navbar.html" %}

<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>
<body>
<div class="bloc">
    
		<legend>Bienvenue sur l'application web de génération de devis!</legend>
		<p> Vous avez le choix entre une méthode standard d'estimation et
		la méthode de machine learning: le Kmean clustering<p/>
		<p>La méthode standard se base sur les prix unitaires des travaux à
		effectuer <p/>
		<p>La méthode du Kmean clustering est une méthode de machine learning
		non supervisé. Elle divise les données en sous classes de points
		proches. On demande les caractéristiques de l'élément à rénover à 
		l'utilisateur. On renvoie le barycentre de la sous classe associée pour
		avoir une estimation du devis. Un nombre important de données est donc
		nécéssaire. </p>
		
</div>

</body>

</html>