{% include "modules/head.html" %}
{% include "modules/navbar.html" %}


<body>


<div class="bloc">
    <legend>Insertion de données</legend>
    <p>Merci de rentrer les informations nécessaires:</p>
    <form action="/insertion_resultat" method="post">
					<label>Surface de peinture murale</label> : <input type="text" name="surface_murale" />
					<label>PrixHT</label> : <input type="text" name="prixht_mural" />
					<br>
					<br>
					<label>Surface de peinture du plafond</label> : <input type="text" name="surface_plafond" />
					<label>PrixHT</label> : <input type="text" name="prixht_plafond" />
					<br>
					<br>
					<label>Surface de peinture du sol</label> : <input type="text" name="surface_sol" />
					<label>PrixHT</label> : <input type="text" name="prixht_sol" />
					<br>
					<br>
					<label>Surface de pose de sol</label> : <input type="text" name="surface_pose_sol" />
					<label>PrixHT</label> : <input type="text" name="prixht_pose_sol" />
					<br>
					<br>
					<label>Unites electricite</label> : <input type="text" name="unites_elec" />
					<label>PrixHT</label> : <input type="text" name="prixht_elec" />
					<br>
					<br>
					<label>Unites divers</label> : <input type="text" name="unites" />
					<label>PrixHT</label> : <input type="text" name="prixht_divers" />
					<br>
					<br>
					<label>PrixTTC</label> : <input type="text" name="prixttc" />
					
					<input type="submit" value="Envoyer" />
			</form>
</div>

</body>

</html>