{% include "modules/head.html" %}
{% include "modules/navbar.html" %}


<body>


<div class="bloc">
    <legend>Génération devis avec le K-mean clustering</legend>
    <p>Merci de rentrer les informations nécessaires:</p>
    <form action="/resultat" method="post">
					<label>Surface de peinture murale</label> : <input type="text" name="surface_murale" />
					<br>
					<label>Surface de peinture du plafond</label> : <input type="text" name="surface_plafond" />
					<br>
					<label>Surface de peinture du sol</label> : <input type="text" name="surface_sol" />
					<br>
					<label>Surface de pose de sol</label> : <input type="text" name="surface_pose_sol" />
					<br>
					<label>Unites electricite</label> : <input type="text" name="unites_elec" />
					<br>
					<label>Unites divers</label> : <input type="text" name="unites" />
					<input type="submit" value="Envoyer" />
			</form>
</div>

</body>

</html>