<!doctype html>
{% include "modules/head.html" %}
{% include "modules/navbar.html" %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 class="txbl">Liste des devis:</h2>
    {% for table in tables %}                      
                {{ table|safe }}
    {% endfor %}
</body>

</html>