{% include "modules/head.html" %}
{% include "modules/navbar.html" %}

<html>
<body>


<div class="bloc">
    
		<p>Prix du devis : {{prix}} euros</p>
		<img src="{{url_for('static', filename='imgs/graphique1.png')}}"/> 
		<img src="{{url_for('static', filename='imgs/graphique2.png')}}"/> 
		<img src="{{url_for('static', filename='imgs/graphique3.png')}}"/> 
</div>

</body>

</html>