<!doctype html>
{% include "modules/head.html" %}
{% include "modules/navbar.html" %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}
</body>
</html>