{% include "modules/head.html" %}
{% include "modules/navbar.html" %}


<body>


<div class="bloc">
    {% for table in tables %}                      
                {{ table|safe }}
    {% endfor %}
</div>

</body>

</html>