{% include "modules/head.html" %}
{% include "modules/navbar.html" %}


<body>


<div class="bloc">
<form method="post" action="/visualisation_resultat">
    <select name= "categorie" method="GET" action="/">
    {% for categorie in categories %}
    <option value= "{{categorie}}" SELECTED>{{categorie}}</option>"
    {% endfor %}
    </select>
    
    <button type="submit">OK</button>
</form>

</select>
</div>

</body>

</html>