body{
    background-image: linear-gradient(#0062ccb5, #bd2130d9) !important;
    /*font-family: sans-serif;*/
    margin: auto;
}

.dataframe * {border-color: #c0c0c0 !important;}
.dataframe th{background: #eee;}
.dataframe td{text-align: right; min-width:5em;}


.dataframe-summary-row tr:last-child,
.dataframe-summary-col td:last-child{
    background: #eee;
    font-weight: 500;
}




.bloc{
    border-radius: 5px;
    padding: 15px;
    width: 90%;
    margin: auto;
    display: block;
    margin-top: 10%;
    background: white;
}
.bloc_petit{
    border-radius: 5px;
    padding: 15px;
    width: fit-content;
    margin: auto;
    display: block;
    margin-top: 5%;
    background: white;
}
.bloc_img {
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    width: 45%;
    margin: auto;
    margin-top: 5%;
    background: white;
}
.spot{
    width: 100%;
}
.btn-submit{
    background: none;
    border: none;
    color: white;
}
.profil_select {
    width: 49%;
    height: 35px;
    margin-bottom: 20px;
}
.large{
    width: 100%;
}