<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
  <title>Annonces</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/unveil-effects/animations.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>
<body>
    <div>
     <a href="/"><button>Retour à l'accueil</button></a>
    </div>
  <div id="g">
    <div class="container">
      <div class="row mt">
        <div class="col-md-6 centered">
          <img src={{image}} class="img-responsive aligncenter" width="500" alt="" data-effect="slide-left">
        </div>
        <!--/col-md-6 -->

        <div class="col-md-4">
         <h1> Nos annonces pour la ville de {{ville}}</h1>
         <h1> Prix au metre carré moyen : </h1>
         <h2> {{prix_appartement}}€ pour un appartement </h2>
         <h2> {{prix_maison}}€ pour une maison </h2>
    
</form>
        </div>
        <!--/col-md-4 -->

      </div>
      <!--/row -->
    </div>
    <!--/container -->
  </div>
  <!--/header-->
<div id="cta" name="reco">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 centered">
          <p>Annonces recommandées</p>
        </div>
      </div>
      <!--/row -->
    </div>
    <!--/container -->
  </div>
  <!--/CTA -->
<div id="r" style=display:none>
    <div class="container">
      <div class="row mt">       
          <h1 data-effect="slide-left">Nos annonces choisies pour vous</h1>
          {% for t in top%}
            <p><br/></p>            
          <li>{{t.types_bien.type_bien}} au prix de {{t.prix}}€ soit
           {{t.prix_metre_carre}}€ /m2 <br/>
          {{t.description }} </li>
          <a href={{t.lien}}>cliquer ici pour en savoir plus</a>      
          {%endfor%}
          
        </div>
    </div>
</div>
       <div id="cta2" >
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 centered">
          <p>maisons</p>
        </div>
      </div>
      <!--/row -->
    </div>
    <!--/container -->
  </div>
  <div id="r2" style=display:none>
    <div class="container">
      <div class="row mt">
       
          <h1 data-effect="slide-left">Nos annonces de maisons</h1>
          {% for m in maison%}
            <p><br/></p>
            
          <li>{{m.types_bien.type_bien}} au prix de {{m.prix}}€ soit
           {{m.prix_metre_carre}}€ /m2 <br/>
          {{m.description }} </li>
          <a href={{m.lien}}>Cliquer ici pour en savoir plus</a>
       
          {%endfor%}
          
        </div>
    </div>
</div>
  <div id="cta3" name="reco">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 centered">
          <p>immeubles</p>
        </div>
      </div>
      <!--/row -->
    </div>
    <!--/container -->
  </div>
    <div id="r3" style=display:none>
    <div class="container">
      <div class="row mt">
       
          <h1 data-effect="slide-left">Nos annonces d'immeubles</h1>
          {% for i in immeuble%}
            <p><br/></p>
            
          <li>{{i.types_bien.type_bien}} au prix de {{i.prix}}€ soit
           {{i.prix_metre_carre}}€ /m2 <br/>
          {{i.description }} </li>
          <a href={{i.lien}}>cliquer ici pour en savoir plus</a>
                
          {%endfor%}

        </div>
    </div>
</div>
  <div id="cta4" name="reco">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 centered">
          <p>appartements</p>
        </div>
      </div>
      <!--/row -->
    </div>
    <!--/container -->
  </div>
    <div id="r4" style=display:none>
    <div class="container">
      <div class="row mt">
       
          <h1 data-effect="slide-left">Nos annonces d'appartements</h1>
          {% for a in appartement%}
            <p><br/></p>
            
          <li>{{a.types_bien.type_bien}} au prix de {{a.prix}}€ soit
           {{a.prix_metre_carre}}€ /m2 <br/>
          {{a.description }} </li>
          <a href={{a.lien}}>cliquer ici pour en savoir plus</a>
       
          {%endfor%}
          
        </div>
    </div>
</div>

<script>
     
let togg1 = document.getElementById("cta");
let togg2 = document.getElementById("cta2");
let togg3 = document.getElementById("cta3");
let togg4 = document.getElementById("cta4");


let d1 = document.getElementById("r");
let d2 = document.getElementById("r2");
let d3 = document.getElementById("r3");
let d4 = document.getElementById("r4");


var lenmaison = {{lenmaison}}
var lentop = {{lentop}}
var lenimmeuble = {{lenimmeuble}}
var lenappart = {{lenappart}}


togg1.addEventListener("click", () => {
  if(getComputedStyle(d1).display != "none"){
    d1.style.display = "none";
  } else {
    d1.style.display = "block";
  }
})
togg2.addEventListener("click", () => {
  if(getComputedStyle(d2).display != "none"){
    d2.style.display = "none";
  } else {
    d2.style.display = "block";
  }
})

togg3.addEventListener("click", () => {
  if(getComputedStyle(d3).display != "none"){
    d3.style.display = "none";
  } else {
    d3.style.display = "block";
  }
})

togg4.addEventListener("click", () => {
  if(getComputedStyle(d4).display != "none"){
    d4.style.display = "none";
  } else {
    d4.style.display = "block";
  }
})

window.onload = function()
{if(lenmaison < 1){
    togg2.style.display = "none";
    }
 if(lentop < 1){
    togg1.style.display = "none";
    }
  if(lenimmeuble < 1){
    togg3.style.display = "none";
    }
  if(lenappart < 1){
    togg4.style.display = "none";
    }
}
</script>    
</body>
</html>
  
