<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
  <title>Recherche immobilière</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/unveil-effects/animations.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
    <div id="h">
    <div class="container">
     
      <div class="row centered">
        <h1>Projet immobilier</h1>
        <h2>Biens à rénover en Normandie</h2>
      </div>
      <!--/row -->
    </div>
    <!-- /container -->
  </div>
  <!--/header-->

  <!--  ********** WHITE SECTION ********** -->
  <div id="w">
    <div class="container">
      <div class="row centered">
        <div class="col-md-8 col-md-offset-2">
          <h4>Bienvenue</h4>
          <br/>

        </div>
        <!--col-md-8 -->
      </div>
      <!--/row -->
    </div>
    <!--/container -->

  <!--  ********** RED SECTION ********** -->
  {% if current_user.is_authenticated %}
   
    <div class="msg"><p><a href="/deconnexion">Deconnexion</a></p>
    </div>
   {% else %}
   
  <div class="msg"><p><a href="http://127.0.0.1:5000/creation_compte">Créer un compte</a></p>
    </div>
  <div class="msg"><p><a href="/formulaire_authentification">Connexion</a></p>
   </div>
  {% endif %}
  
  <div id="r">
    <div class="container">
      <div class="row mt">        
        <div class="col-md-6 centered">
        <a href="http://127.0.0.1:5000/carte_interactive">
          <img src="static/img/carte.jpg" class="img-responsive aligncenter" width="300" alt="" data-effect="slide-left">
          </a>       
        </div>
            <div class="col-md-4">
          <h1>Carte interactive</h1> 
          <h2>Cliquez sur la carte pour accéder à l'emplacement des biens en rénovation disponibles a la vente</h2>       
        </div>
      </div>
    </div>
  </div>
  <!--  ********** GREEN SECTION ********** -->
  {% if current_user.is_authenticated %}
  <div id="g">
    <div class="container">
      <div class="row mt">
        <div class="col-md-6 centered">
          <img src={{image}} class="img-responsive aligncenter" width="500" alt="" data-effect="slide-right">
        </div>
        <!--/col-md-6 -->

        <div class="col-md-4">       
          <h1 >Recherche de biens</h1>
          <form autocomplete="off" action="/annonce" method="post">
          <div class="autocomplete" style="width:300px;">
            <input id="myInput" type="text" name="ville" placeholder="ville">
  </div>
  <input type="submit">
</form>
        </div>
      </div>
    </div>
  </div>
    <div id="cta2" >
     <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 centered">
          <p>Recherches personnalisées</p>
        </div>
      </div>
    </div>
  </div>
  <div id="g2">
    <div class="container">
      <div class="row mt">
        <div class="col-md-6 centered">
          <img src="static/img/recherche.jpg" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-left">
        </div>
        <div class="col-md-4">       
          <h1 >Sélection des critères</h1>
          <form autocomplete="off" action="/recherche_perso" method="post">
    <div>
          <select name="types" id="types">
    <option value="">--Quel type de bien ?--</option>
    {%for type in types%}
    <option value={{type}}>{{type}}</option>
    {%endfor%}
       </select>
    </div>
  
  <div>       
    	 <input  id="metre" type="petit" name="prix" placeholder="prix min">
    	 <input  id="metre2" type="petit" name="prix2" placeholder="prix max">
  </div>
 <div>
  <input  id="metre" type="petit" name="metre" placeholder="surface min">
   <input  id="metre2" type="petit" name="metre2" placeholder="surface max">
   </div>
   <div style=display:none>
   <input  id="num" type="petit" name="num" >
   </div>
  </div>
  <input type="submit">
  </form>

    <script>
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
      });
}

/*An array containing all the country names in the world:*/
var countries = {{villes|tojson}}
/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput"), countries);
</script>
{% endif %}
</body>
</html>
