
<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
  <title>Recherche immobilière</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/unveil-effects/animations.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
    <div id="h">
    <div class="container">
     
      <div class="row centered">
        <h1>Projet immobilier</h1>
        <h2>Biens à rénover en Normandie</h2>
      </div>
      <!--/row -->
    </div>
    <!-- /container -->
  </div>
  <!--/header-->

  <!--  ********** WHITE SECTION ********** -->
  <div id="w">
    <div class="container">
      <div class="row centered">
        <div class="col-md-8 col-md-offset-2">
          <h4>Bienvenue</h4>
           <br/>
           <br/>
          <h5>Pour accéder à nos annonces veuillez vous connecter où créer un compte</h5>
          <br/>

        </div>
        <!--col-md-8 -->
      </div>
      <!--/row -->
    </div>
    <!--/container -->

  <!--  ********** RED SECTION ********** -->
  <div class="msg"><p><a href="http://127.0.0.1:5000/creation_compte">Créer un compte</a></p>
    </div>
  <div class="msg"><p><a href="http://127.0.0.1:5000/traitement_authentification">Connexion</a></p>
    </div>
    <div class="msg"><p><a href="http://127.0.0.1:5000/deconnexion">Deconnexion</a></p>
    </div>
  <div id="r">
    <div class="container">
      <div class="row mt">        
        <div class="col-md-6 centered">
          <img src="static/img/carte.jpg" class="img-responsive aligncenter" width="300" alt="" data-effect="slide-left">
          </a>       
        </div>
            <div class="col-md-4">
          <h1>Carte interactive</h1> 
          <h2>Cliquez sur la carte pour accéder à l'emplacement des biens en rénovation disponibles a la vente</h2>       
        </div>
      </div>
    </div>
  </div>
  <!--  ********** GREEN SECTION ********** -->
  <div id="g">
    <div class="container">
      <div class="row mt">
        <div class="col-md-6 centered">
          <img src={{image}} class="img-responsive aligncenter" width="500" alt="" data-effect="slide-right">
        </div>
        <!--/col-md-6 -->

        <div class="col-md-4">       
          <h1 >Recherche de biens</h1>
          <form autocomplete="off" action="/annonce" method="post">
          <div class="autocomplete" style="width:300px;">
            <input id="myInput" type="text" name="ville" placeholder="ville">
  </div>
  <input type="submit">
</form>
        </div>
      </div>
    </div>
  </div>
    <div id="cta2" >
     <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 centered">
          <p>Recherches personnalisées</p>
        </div>
      </div>
    </div>
  </div>
  <div id="g2">
    <div class="container">
      <div class="row mt">
        <div class="col-md-6 centered">
          <img src="static/img/recherche.jpg" class="img-responsive aligncenter" width="320" alt="" data-effect="slide-left">
        </div>
        <div class="col-md-4">       
          <h1 >Sélection des critères</h1>
          <form autocomplete="off" action="/recherche_perso" method="post">
    <div>
          <select name="types" id="types">
    <option value="">--Quel type de bien ?--</option>
       </select>
    </div>
  
  <div>       
    	 <input  id="metre" type="petit" name="prix" placeholder="prix min">
    	 <input  id="metre2" type="petit" name="prix2" placeholder="prix max">
  </div>
 <div>
  <input  id="metre" type="petit" name="metre" placeholder="surface min">
   <input  id="metre2" type="petit" name="metre2" placeholder="surface max">
   </div>
   <div style=display:none>
   <input  id="num" type="petit" name="num" >
   </div>
  </div>
  </form>
    <script>

</script>
</body>
</html>