<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
  <title>Annonces</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/unveil-effects/animations.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>
<body>
    <div id="hannonce">
     <div class="container">
      <div class="row centered">
        <h1> Voici le résultat de votre recherche:</h1>       
      </div>
    </div>
  </div>
  <!--/header-->
          <form autocomplete="off" action="/recherche_perso" method="post">
          <div style=display:none>
         <input  id="types" type="petit" name="types" value={{type_bien1}} >
 </div>
  <div style=display:none >       
    	 <input  id="metre" type="petit" name="prix" value={{prix}} >
    	 <input  id="metre2" type="petit" name="prix2" value={{prix2}} >    	 
</div>
 <div style=display:none >
  <input  id="metre" type="petit" name="metre" value={{metre}} >
   <input  id="metre2" type="petit" name="metre2" value={{metre2}}>
   </div>
   <div >
   <input  id="num" type="petit" name="num" value={{num_page}}>
   </div>
  </div>
  <input type="submit" value="page suivante">
  </form>  
  <div id="r" >
    <div class="container">
      <div class="row mt">       
          <h1 data-effect="slide-left">Annonces {{premiere}} à {{derniere}}</h1>
          {% for a in annonces%}
            <p><br/></p>            
            <li>{{a.prix_metre_carre}}€ /m2 {{a.description}}
             {{a.types_bien.type_bien}} {{a.prix}}€ <br/>
             {{a.surface}} m2 <br/>
             {{a.id_ville}}-Contactez le : {{a.contact}}<br/>
             {{a.prix_metre_carre}}€ /m2 {{a.description}}</li>
          <a href={{a.lien}}>Cliquer ici pour en savoir plus</a>       
          {%endfor%}          
        </div>
    </div>
</div>
</body>
</html>
