<nav>
    <a href="/reinitialisation">Reinitialisation</a>
    <a href="/generation_aleatoire_formulaire">Generation aleatoire</a>
    <a href="/insertion">Insertion donnees</a>
    <a href="/visualisation_devis">Liste des tables</a>
    <a href="/kmean_formulaire">Acces page generation de devis</a>
    <a href="/sauvegarde">Sauvegarder</a>
    <a href="/chargement">Charger des devis</a>
    <a href="/"><button type="button" class="btn btn-primary">Home</button></a>
</nav>